@import url("http://fonts.googleapis.com/css?family=Lato:400,700,900|Bevan|Open\+Sans:400,300,600,700&subset=latin,cyrillic");

// font options
helvetica-neue = 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif
monospace = unquote("'Consolas', 'Bitstream Vera Sans Mono', 'Inconsolata', 'Lucida Console', 'Courier New', 'Courier', monospace")
proxima-nova = 'proxima-nova', Arial, Helvetica, sans-serif
lato = 'Lato', 'Open Sans', Arial, Helvetica, sans-serif
bevan = 'Bevan', Georgia, serif

font-stack = lato
font-logo = bevan
font-size = 13px

vendors = webkit moz ms official